<ion-header>
  <ion-toolbar>
    <ion-title>my favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="navigate('/my-favorite-characters')">
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>My Favorite Characters</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>My Favorite Episodes</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>My Favorite Locations</ion-label>
    </ion-item>
  </ion-list>
</ion-content>