<ion-header>
  <ion-toolbar>
    <ion-title>characters</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Name Charater"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button id="popover-button">
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
      <ion-popover trigger="popover-button">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item>
                Ordenar por
              </ion-item>
              <ion-item>
                <ion-toggle>status</ion-toggle>
              </ion-item>
              <ion-item>
                <ion-toggle>species</ion-toggle>
              </ion-item>
              <ion-item>
                <ion-toggle>gender</ion-toggle>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>
    <ion-item-sliding *ngFor="let character of characters">
      <ion-item [routerLink]="['/profile/'+ character.id]">
        <ion-avatar slot="start">
          <img [src]="character.image" />
        </ion-avatar>
        <ion-label>
          {{character.name}}
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="toggleFavorite(character)">
        <ion-icon slot="icon-only" [name]="isFavorite(character) ?'star' : 'star-outline'"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>