<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-favorites">
      <ion-icon name="star-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="characters">
      <ion-icon name="people-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="episode">
      <ion-icon name="film-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="location">
      <ion-icon name="location-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>