ion-item {
    --background-hover: var(--ion-color-primary-shade);
    --ripple-color: var(--ion-color-primary-shade);

}

ion-item-sliding {
    border-radius: 20px;
    padding: 5px;
    margin: 5px 0;

    &.item-sliding-active-options-end {

        ion-item {
            --background: var(--ion-color-primary-shade);

            ion-label {

                h4,
                p {
                    color: #fff;
                }
            }
        }

    }

}

ion-header {
    ion-toolbar {
        --background: #fff;
    }
}