<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/characters"></ion-back-button>
    </ion-buttons>
    <ion-title> {{character?.name}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite(character)">
        <ion-icon slot="icon-only" [name]="isFavorite(character) ? 'star' : 'star-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src={{character?.image}} />
    <ion-card-header>
      <ion-card-title>{{character?.name}} </ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <ion-item>Status: {{character?.status}}</ion-item>
      <ion-item>Species: {{character?.species}}</ion-item>
      <ion-item>Gender: {{character?.gender}}</ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>